<main>
    <section class="main-section">
        <img class="logo" src="/logo.svg" />
        <h1>{{ title }}</h1>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">
                {{ secondaryBtnText }}
            </button>
        </div>
    </section>
</main>