@import "../../../styles/variables.scss";

.welcome-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;

    .welcome-message {
        font-size: 16px;
        color: $text-color;
        text-align: center;
        line-height: 1.6;
        max-width: 500px;
    }
}

